{{define "title"}}Home{{end}} {{define "main"}}
<section class="flex flex-col gap-4">
  <h1>Track Your finances for {{.Year}}</h1>

  <div class="flex flex-col gap-2">
    {{ range .Months }}
    <a href="/track/{{ .Year }}/{{ .Number }}">
      {{ .Name }} {{ if .Current }} (Current) {{ end }}
    </a>
    {{ end }}
  </div>

  <div class="flex items-center gap-4">
    <a href="/?year={{ .PreviousYear }}">{{ .PreviousYear }}</a>
    <a href="/?year={{ .NextYear }}">{{ .NextYear }}</a>
  </div>
</section>
{{end}}
