{{define "title"}}Income {{.Month}}.{{.Year}}.{{end}} {{define "main"}}
<section class="flex flex-col gap-4">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-semibold">Income for {{.Month}}.{{.Year}}.</h1>

    <div class="flex items-center gap-6">
      <a
        class="flex items-center gap-2 underline"
        href="/track/{{.Year}}/{{.Month}}/income/new"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-plus-icon lucide-plus"
        >
          <path d="M5 12h14" />
          <path d="M12 5v14" />
        </svg>
        Add new Income
      </a>
      <a
        class="flex items-center gap-2 underline"
        href="/track/{{.Year}}/{{.Month}}"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-undo2-icon lucide-undo-2"
        >
          <path d="M9 14 4 9l5-5" />
          <path d="M4 9h10.5a5.5 5.5 0 0 1 5.5 5.5a5.5 5.5 0 0 1-5.5 5.5H11" />
        </svg>
        Go Back
      </a>
    </div>
  </div>

  {{if .Incomes}}
  <div>
    <h2 class="text-xl">
      Total Income:
      <span class="font-bold">{{printf "%.2f" .TotalIncome}} €</span>
    </h2>
  </div>

  <table class="mt-4">
    <thead class="">
      <tr>
        <th>Date</th>
        <th>Expense name</th>
        <th>Type</th>
        <th>Amount</th>
      </tr>
    </thead>

    <tbody>
      {{range .Incomes}}
      <tr>
        <td>{{humanDate .IncomeDate}}</td>
        <td>{{.Name}}</td>
        <td>{{ possibleNull .Type }}</td>
        <td>{{ printf "%.2f" .Amount }} €</td>
      </tr>
      {{end}}
    </tbody>
  </table>
  {{else}}
  <h2 class="text-xl">No income found</h2>
  {{end}}
</section>
{{end}}
