{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{template "title" .}} - Od Blata do Zlata</title>

    <link rel="stylesheet" href="/static/css/main.css" />
    <link
      rel="shortcut icon"
      href="/static/img/favicon.ico"
      type="image/x-icon"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700"
    />

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body class="bg-black text-white m-6">
    {{template "nav" .}}

    <main class="container max-w-6xl w-full mb-20 mt-10">
      {{with .Flash}}
      <div class="flash">{{.}}</div>
      {{end}} {{template "main" .}}
    </main>

    <footer>
      Powered by <a href="https://go.dev/">Go</a> in {{.CurrentYear}}
    </footer>

    <script src="/static/js/main.js" type="text/javascript"></script>
  </body>
</html>
{{end}}
